### Dataset preparation

In [3]:
import pandas as pd

In [26]:
PATH = '/home/kennykey/datasets/encoder_benchmark/2/111/'

In [13]:
df = pd.read_csv(PATH + 'prepeared_photo.csv', sep=',')

In [14]:
df.head()

                                       crop_filename  is_bad
0  data/crops/prepeared_photo.mp4/001_000000_0000...    True
1  data/crops/prepeared_photo.mp4/001_000001_0000...    True
2  data/crops/prepeared_photo.mp4/001_000002_0000...    True
3  data/crops/prepeared_photo.mp4/001_000003_0000...    True
4  data/crops/prepeared_photo.mp4/001_000004_0000...    True

In [15]:
columns = ['image', 'good_crop']

In [16]:
df.columns = columns

In [20]:
df['good_crop'] = df['good_crop'].replace(True, '0')
df['good_crop'] = df['good_crop'].replace(False, '1')

In [21]:
df.head()

                                               image good_crop
0  data/crops/prepeared_photo.mp4/001_000000_0000...         0
1  data/crops/prepeared_photo.mp4/001_000001_0000...         0
2  data/crops/prepeared_photo.mp4/001_000002_0000...         0
3  data/crops/prepeared_photo.mp4/001_000003_0000...         0
4  data/crops/prepeared_photo.mp4/001_000004_0000...         0

In [22]:
df['image'] = df['image'].str.split('/', expand=True)[3]

In [23]:
df.head()

                  image good_crop
0  001_000000_00001.jpg         0
1  001_000001_00001.jpg         0
2  001_000002_00001.jpg         0
3  001_000003_00001.jpg         0
4  001_000004_00001.jpg         0

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3364 entries, 0 to 3363
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   image      3364 non-null   object
 1   good_crop  3364 non-null   object
dtypes: object(2)
memory usage: 52.7+ KB

In [27]:
df.to_csv(PATH + 'benchmark_dataset_2.csv')