### Dataset preparation

In [1]:
import pandas as pd

In [1]:
PATH = '/home/kennykey/Documents/yandex_toloka/encoders_benchmark/'

In [46]:
df = pd.read_csv(PATH + 'assignments_data.csv', sep='\t')

In [47]:
df.head()

,image,good_crop,face_artifacts
0,/toloka-proxy-danil-01/encoders_benchmark/010_...,0,1
1,/toloka-proxy-danil-01/encoders_benchmark/010_...,0,1
2,/toloka-proxy-danil-01/encoders_benchmark/010_...,0,1
3,/toloka-proxy-danil-01/encoders_benchmark/010_...,0,1
4,/toloka-proxy-danil-01/encoders_benchmark/010_...,0,1

In [48]:
df['image'] = df['image'].str.split('/', expand=True)[3]

In [49]:
df.head()

                  image  good_crop  face_artifacts
0  010_009405_00064.jpg          0               1
1  010_009406_00064.jpg          0               1
2  010_009433_00065.jpg          0               1
3  010_009434_00065.jpg          0               1
4  010_009498_00067.jpg          0               1

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   image           900 non-null    object
 1   good_crop       900 non-null    int64
 2   face_artifacts  900 non-null    int64
dtypes: int64(2), object(1)
memory usage: 21.2+ KB

In [54]:
df.to_csv(PATH + 'benchmark_dataset.csv')