# Анализ резултатов работы прототипа OCR. Детекция OpenVINO. Распознавание PaddleOCR 
- Автор: Кирилл Киселев
- Дата начала: 28.04.2022
- Описание исследования: после работы настройки препроцессинга на прототипе и замены модели детекции на модель из фреймфорка OpenVIN проведено тестирование на 203 сканах товарных накладных. 10 сканов были отсеяны на стадии проверки блюра и ортогонального положения. Остальные 193 скана пропустим через анализ полученных результатов.

## Загрузка библиотек

In [1]:
import os
import pandas as pd
import cv2

## Глобальные переменные

In [2]:
!pwd

/home/kirillk/PycharmProjects/useful_notebooks/ocr

In [44]:
# CSV_PATH = '/home/kirillk/datasets/OCR/ocr_test_cases/paddle_ocr_results.csv'
# CSV_PATH = '/home/kirillk/datasets/OCR/ocr_test_cases/paddle_ocr_results_1.csv'
# TXT_PATH = '/home/kirillk/datasets/OCR/ocr_test_cases/paddle_ocr_results_3.txt'
# TXT_PATH = '/home/kirillk/datasets/OCR/ocr_test_cases/paddle_ocr_results_4.txt'
TXT_PATH = '/home/kirillk/datasets/OCR/ocr_test_cases/paddle_ocr_results_5.txt'
SAVE_PATH = '/home/kirillk/datasets/OCR/ocr_test_cases/paddle_ocr_results'
DATA_PATH = '/home/kirillk/datasets/OCR/ocr_test_cases/test_cases/'

## Загрузка данных и подготовка датасета

In [45]:
filename_list = []
results_list = []

with open(TXT_PATH, "r") as file:
    for num, line in enumerate(file):
        if 'jpg' in line:
            line = line.split(' ')[-1].rstrip()
            filename_list.append(line)
        else:
            line = line.split(' ', maxsplit=3)[-1].rstrip()
            results_list.append(line)
            
results_list = results_list[0:-1]

In [46]:
filename_list

['108.jpg',
 '134.jpg',
 '145.jpg',
 '020.jpg',
 '172.jpg',
 '030.jpg',
 '044.jpg',
 '072.jpg',
 '183.jpg',
 '088.jpg',
 '192.jpg',
 '191.jpg',
 '122.jpg',
 '029.jpg',
 '144.jpg',
 '109.jpg',
 '049.jpg',
 '037.jpg',
 '138.jpg',
 '200.jpg',
 '189.jpg',
 '114.jpg',
 '195.jpg',
 '155.jpg',
 '093.jpg',
 '010.jpg',
 '148.jpg',
 '133.jpg',
 '199.jpg',
 '124.jpg',
 '032.jpg',
 '152.jpg',
 '171.jpg',
 '177.jpg',
 '075.jpg',
 '038.jpg',
 '000.jpg',
 '173.jpg',
 '126.jpg',
 '035.jpg',
 '003.jpg',
 '062.jpg',
 '094.jpg',
 '184.jpg',
 '004.jpg',
 '083.jpg',
 '164.jpg',
 '025.jpg',
 '101.jpg',
 '028.jpg',
 '076.jpg',
 '146.jpg',
 '067.jpg',
 '052.jpg',
 '087.jpg',
 '018.jpg',
 '051.jpg',
 '147.jpg',
 '187.jpg',
 '047.jpg',
 '115.jpg',
 '140.jpg',
 '079.jpg',
 '061.jpg',
 '096.jpg',
 '007.jpg',
 '011.jpg',
 '023.jpg',
 '120.jpg',
 '084.jpg',
 '065.jpg',
 '098.jpg',
 '130.jpg',
 '175.jpg',
 '022.jpg',
 '009.jpg',
 '069.jpg',
 '014.jpg',
 '054.jpg',
 '019.jpg',
 '056.jpg',
 '008.jpg',
 '017.jpg',
 '168.jpg',
 '131.jpg',
 '137.jpg',
 '198.jpg',
 '039.jpg',
 '106.jpg',
 '185.jpg',
 '112.jpg',
 '097.jpg',
 '099.jpg',
 '156.jpg',
 '194.jpg',
 '057.jpg',
 '158.jpg',
 '201.jpg',
 '125.jpg',
 '066.jpg',
 '159.jpg',
 '188.jpg',
 '005.jpg',
 '068.jpg',
 '090.jpg',
 '118.jpg',
 '186.jpg',
 '110.jpg',
 '073.jpg',
 '046.jpg',
 '070.jpg',
 '165.jpg',
 '113.jpg',
 '180.jpg',
 '091.jpg',
 '129.jpg',
 '092.jpg',
 '103.jpg',
 '141.jpg',
 '104.jpg',
 '149.jpg',
 '163.jpg',
 '143.jpg',
 '166.jpg',
 '064.jpg',
 '015.jpg',
 '151.jpg',
 '154.jpg',
 '016.jpg',
 '002.jpg',
 '042.jpg',
 '127.jpg',
 '059.jpg',
 '132.jpg',
 '193.jpg',
 '111.jpg',
 '095.jpg',
 '012.jpg',
 '179.jpg',
 '026.jpg',
 '100.jpg',
 '196.jpg',
 '128.jpg',
 '048.jpg',
 '053.jpg',
 '135.jpg',
 '107.jpg',
 '178.jpg',
 '139.jpg',
 '116.jpg',
 '021.jpg',
 '060.jpg',
 '055.jpg',
 '119.jpg',
 '181.jpg',
 '153.jpg',
 '013.jpg',
 '034.jpg',
 '142.jpg',
 '058.jpg',
 '036.jpg',
 '071.jpg',
 '063.jpg',
 '024.jpg',
 '081.jpg',
 '167.jpg',
 '170.jpg',
 '078.jpg',
 '117.jpg',
 '123.jpg',
 '001.jpg',
 '031.jpg',
 '105.jpg',
 '161.jpg',
 '033.jpg',
 '050.jpg',
 '150.jpg',
 '162.jpg',
 '157.jpg',
 '043.jpg',
 '086.jpg',
 '041.jpg',
 '160.jpg',
 '074.jpg',
 '190.jpg',
 '174.jpg',
 '136.jpg',
 '169.jpg',
 '089.jpg',
 '202.jpg',
 '045.jpg',
 '102.jpg',
 '027.jpg',
 '182.jpg',
 '006.jpg',
 '080.jpg',
 '121.jpg',
 '082.jpg',
 '040.jpg',
 '077.jpg',
 '176.jpg',
 '085.jpg',
 '197.jpg']

In [47]:
results_list

["{'id': 0, 'barcode': '2860587076540', 'doc_type': 'Товарная накладная', 'doc_number': '6017110800', 'error_list': []}",
 "{'id': 1, 'barcode': '2860592637279', 'doc_type': 'товарная гнакладная', 'doc_number': '6017253079', 'error_list': []}",
 "{'id': 2, 'barcode': '2860601366206', 'doc_type': 'Товарнаяі накладная', 'doc_number': '6047415447', 'error_list': []}",
 "{'id': 3, 'barcode': '2810094798084', 'doc_type': 'Товарная накладная', 'doc_number': '6010358825', 'error_list': []}",
 "{'id': 4, 'barcode': '2860614983032', 'doc_type': 'товарная накладная', 'doc_number': '6017580463', 'error_list': []}",
 "{'id': 5, 'barcode': '2810095110823', 'doc_type': 'Товарная накладная', 'doc_number': '6010496453', 'error_list': []}",
 "{'id': 6, 'barcode': '2860350653671', 'doc_type': 'Товарная накладная', 'doc_number': '6010495761', 'error_list': []}",
 "{'id': 7, 'barcode': '2860356028688', 'doc_type': 'Товарная накладная', 'doc_number': '6010580640', 'error_list': []}",
 "{'id': 8, 'barcode': '2860618787148', 'doc_type': 'товарная накладная', 'doc_number': '60417651087', 'error_list': []}",
 "{'id': 9, 'barcode': '2810078644574', 'doc_type': 'Товарная накладная', 'doc_number': '6008222134', 'error_list': []}",
 "{'id': 10, 'barcode': '2860597904628', 'doc_type': 'Товарная накладная', 'doc_number': '6600245149', 'error_list': []}",
 "{'id': 11, 'barcode': '2860598926537', 'doc_type': 'Товарная накладная', 'doc_number': '6600000503', 'error_list': []}",
 "{'id': 12, 'barcode': '2860583150046', 'doc_type': 'товарная накладная', 'doc_number': '6017084789', 'error_list': []}",
 "{'id': 13, 'barcode': '2810094808202', 'doc_type': 'Товарная накладная', 'doc_number': '6010496432', 'error_list': []}",
 "{'id': 14, 'barcode': '2860599272848', 'doc_type': 'товарная накладная', 'doc_number': '6600002416', 'error_list': []}",
 "{'id': 15, 'barcode': '2860614772520', 'doc_type': 'Товарная накладная', 'doc_number': '8600577650', 'error_list': []}",
 "{'id': 16, 'barcode': '2860350627696', 'doc_type': 'Товарная накладная', 'doc_number': '6010477064', 'error_list': []}",
 "{'id': 17, 'barcode': '2810095049819', 'doc_type': 'Товарная накладная', 'doc_number': '6010489390', 'error_list': []}",
 "{'id': 18, 'barcode': '2860593000775', 'doc_type': 'Товарная накладная', 'doc_number': '6017266636', 'error_list': []}",
 "{'id': 19, 'barcode': '2860597151404', 'doc_type': 'Товарная гнакладная', 'doc_number': '6600242234', 'error_list': []}",
 "{'id': 20, 'barcode': '2860618982277', 'doc_type': 'Товарная накладная', 'doc_number': '6017653136', 'error_list': []}",
 "{'id': 21, 'barcode': '2810144081883', 'doc_type': 'Товарная накладная', 'doc_number': '6600220630', 'error_list': []}",
 "{'id': 22, 'barcode': None, 'doc_type': None, 'doc_number': None, 'error_list': ['Слишком размыто']}",
 "{'id': 23, 'barcode': '2860609887666', 'doc_type': 'Товарнам кнакладная', 'doc_number': '8817053744', 'error_list': ['Пересканируйте, текст не найден', 'Слишком размыто']}",
 "{'id': 24, 'barcode': '2810079755484', 'doc_type': 'Товарная накладная', 'doc_number': '6008282959', 'error_list': []}",
 "{'id': 25, 'barcode': '2810095175457', 'doc_type': 'Товарная накладная', 'doc_number': '6010505008', 'error_list': []}",
 "{'id': 26, 'barcode': '2860602715096', 'doc_type': 'Товарная накладная', 'doc_number': None, 'error_list': []}",
 "{'id': 27, 'barcode': '2860592408350', 'doc_type': 'Товарная некладная', 'doc_number': '8017263017', 'error_list': []}",
 "{'id': 28, 'barcode': '2860594030962', 'doc_type': 'товарная накладная', 'doc_number': '6600235372', 'error_list': []}",
 "{'id': 29, 'barcode': '2860583459859', 'doc_type': 'Товарная накладная', 'doc_number': '6017086095', 'error_list': []}",
 "{'id': 30, 'barcode': '2810095110731', 'doc_type': 'Товарная накладная', 'doc_number': '6010496452', 'error_list': []}",
 "{'id': 31, 'barcode': '2860609807121', 'doc_type': 'товарная накладная', 'doc_number': '6017532541', 'error_list': []}",
 "{'id': 32, 'barcode': '2860614792009', 'doc_type': 'Товарная накладная', 'doc_number': '6017550651', 'error_list': []}",
 "{'id': 33, 'barcode': '2860617614391', 'doc_type': None, 'doc_number': '6017644991', 'error_list': []}",
 "{'id': 34, 'barcode': '2810096516396', 'doc_type': 'Товарная накладная', 'doc_number': '6010589100', 'error_list': []}",
 "{'id': 35, 'barcode': '2860350693578', 'doc_type': 'Товарная накладная', 'doc_number': '6010497017', 'error_list': []}",
 "{'id': 36, 'barcode': '2810094793638', 'doc_type': 'Товарная накладная', 'doc_number': '6010358884', 'error_list': []}",
 "{'id': 37, 'barcode': '2860615089269', 'doc_type': 'Товарная накладная', 'doc_number': '6017580984', 'error_list': []}",
 "{'id': 38, 'barcode': '2860582013670', 'doc_type': 'Товарная накладная', 'doc_number': '8017079322', 'error_list': []}",
 "{'id': 39, 'barcode': '2860350517478', 'doc_type': 'Товарная накладная', 'doc_number': '6010411498', 'error_list': []}",
 "{'id': 40, 'barcode': '2860350826969', 'doc_type': 'Товарная накладная', 'doc_number': '6010503173', 'error_list': []}",
 "{'id': 41, 'barcode': '2810099106150', 'doc_type': 'Товарная накладная', 'doc_number': '6010797013', 'error_list': []}",
 "{'id': 42, 'barcode': '2810078340568', 'doc_type': 'Товарная накладная', 'doc_number': '6008206296', 'error_list': []}",
 "{'id': 43, 'barcode': '2860618739659', 'doc_type': 'товарная накладная', 'doc_number': '6017651707', 'error_list': []}",
 "{'id': 44, 'barcode': '2860350795340', 'doc_type': 'Товарная накладная', 'doc_number': '6010498934', 'error_list': []}",
 "{'id': 45, 'barcode': '2810096516426', 'doc_type': 'Товарная накладная', 'doc_number': None, 'error_list': []}",
 "{'id': 46, 'barcode': '2860611204697', 'doc_type': 'Товарная накладная', 'doc_number': 'B047539166', 'error_list': []}",
 "{'id': 47, 'barcode': '2810094891235', 'doc_type': 'Товарная накладная', 'doc_number': '6010494696', 'error_list': []}",
 "{'id': 48, 'barcode': '2860570915191', 'doc_type': 'Товарная накладная', 'doc_number': '6600174521', 'error_list': []}",
 "{'id': 49, 'barcode': '2810094889065', 'doc_type': 'Товарная накладная', 'doc_number': '6010496401', 'error_list': []}",
 "{'id': 50, 'barcode': '2810096516365', 'doc_type': 'Товарная накладная', 'doc_number': None, 'error_list': []}",
 "{'id': 51, 'barcode': '2860601473409', 'doc_type': None, 'doc_number': '8817416140', 'error_list': []}",
 "{'id': 52, 'barcode': '2810096516396', 'doc_type': 'Товарная накладная', 'doc_number': '6010589100', 'error_list': []}",
 "{'id': 53, 'barcode': '2810095097438', 'doc_type': 'Товарная накладная', 'doc_number': '6010503832', 'error_list': []}",
 "{'id': 54, 'barcode': '2810078325701', 'doc_type': 'Товарная накладная', 'doc_number': '6008220324', 'error_list': []}",
 "{'id': 55, 'barcode': '2810095102668', 'doc_type': 'Товарная накладная', 'doc_number': '6010496438', 'error_list': []}",
 "{'id': 56, 'barcode': '2810095150157', 'doc_type': 'Товарная накладная', 'doc_number': '6010497186', 'error_list': []}",
 "{'id': 57, 'barcode': '2860618872677', 'doc_type': 'Товарная накладная', 'doc_number': '6500275900', 'error_list': []}",
 "{'id': 58, 'barcode': '2860619133609', 'doc_type': 'Товарная накладная', 'doc_number': '6047552685', 'error_list': []}",
 "{'id': 59, 'barcode': '2860350653657', 'doc_type': 'Товарная накладная', 'doc_number': '6010495760', 'error_list': []}",
 "{'id': 60, 'barcode': '2860611107011', 'doc_type': None, 'doc_number': None, 'error_list': ['Слишком размыто']}",
 "{'id': 61, 'barcode': '2860593292163', 'doc_type': 'товарная накладная', 'doc_number': '6017289311', 'error_list': []}",
 "{'id': 62, 'barcode': '2810097409826', 'doc_type': 'Товарная накладная', 'doc_number': None, 'error_list': []}",
 "{'id': 63, 'barcode': '2810101083493', 'doc_type': 'Товарная накладная', 'doc_number': '6011002903', 'error_list': []}",
 "{'id': 64, 'barcode': '2860581828398', 'doc_type': 'Товарная накладная', 'doc_number': '6600554386', 'error_list': []}",
 "{'id': 65, 'barcode': '2860350795418', 'doc_type': 'Товарная накладная', 'doc_number': '6010498936', 'error_list': []}",
 "{'id': 66, 'barcode': '2810095220683', 'doc_type': 'Товарная накладная', 'doc_number': '6010507184', 'error_list': []}",
 "{'id': 67, 'barcode': '2860350248129', 'doc_type': 'Товарная накладная', 'doc_number': '6010250245', 'error_list': []}",
 "{'id': 68, 'barcode': '2860610732146', 'doc_type': 'Товарная накладная', 'doc_number': '6003471873', 'error_list': []}",
 "{'id': 69, 'barcode': '2810097409826', 'doc_type': 'Товарная накладная', 'doc_number': '6010632149', 'error_list': []}",
 "{'id': 70, 'barcode': '2810097409826', 'doc_type': 'Товарная накладная', 'doc_number': None, 'error_list': []}",
 "{'id': 71, 'barcode': '2860545693338', 'doc_type': 'Товарная накладная', 'doc_number': '6600103608', 'error_list': []}",
 "{'id': 72, 'barcode': '2860583093602', 'doc_type': 'Товерная наюладная', 'doc_number': '8017054820', 'error_list': []}",
 "{'id': 73, 'barcode': '2860617624253', 'doc_type': 'товарная накладная', 'doc_number': '8017645767', 'error_list': []}",
 "{'id': 74, 'barcode': '2810094049155', 'doc_type': 'Товарная накладная', 'doc_number': '6010452712', 'error_list': []}",
 "{'id': 75, 'barcode': '2810095219885', 'doc_type': 'Товарная накладная', 'doc_number': '6010503820', 'error_list': []}",
 "{'id': 76, 'barcode': '2810096516365', 'doc_type': 'Товарная накладная', 'doc_number': '6010589144', 'error_list': []}",
 "{'id': 77, 'barcode': '2810094808165', 'doc_type': 'Товарная накладная', 'doc_number': '6010496431', 'error_list': []}",
 "{'id': 78, 'barcode': '2810094934895', 'doc_type': 'Товарная накладная', 'doc_number': '6010507333', 'error_list': []}",
 "{'id': 79, 'barcode': '2810094840226', 'doc_type': 'Товарная накладная', 'doc_number': '6010422352', 'error_list': []}",
 "{'id': 80, 'barcode': '2810101258686', 'doc_type': 'Товарная накладная', 'doc_number': '6011020656', 'error_list': []}",
 "{'id': 81, 'barcode': '2860350803656', 'doc_type': 'Товарная накладная', 'doc_number': '6010498987', 'error_list': []}",
 "{'id': 82, 'barcode': '2810094942029', 'doc_type': 'Товарная накладная', 'doc_number': '6010422354', 'error_list': []}",
 "{'id': 83, 'barcode': '2860611147581', 'doc_type': None, 'doc_number': '0517850744', 'error_list': ['Пересканируйте, текст не найден', 'Слишком размыто']}",
 "{'id': 84, 'barcode': '2860583137740', 'doc_type': 'Товарная накледная', 'doc_number': '6017085114', 'error_list': []}",
 "{'id': 85, 'barcode': '2860592996963', 'doc_type': 'Товерная накладная', 'doc_number': '6017266530', 'error_list': []}",
 "{'id': 86, 'barcode': '2860593085420', 'doc_type': 'товарнаят накладная', 'doc_number': '6600234112', 'error_list': []}",
 "{'id': 87, 'barcode': '2860350669320', 'doc_type': 'Товарная накладная', 'doc_number': '6010496368', 'error_list': []}",
 "{'id': 88, 'barcode': '2860614461714', 'doc_type': 'товарная накладная', 'doc_number': '6600267555', 'error_list': []}",
 "{'id': 89, 'barcode': '2860618866577', 'doc_type': 'Товарная накпадная', 'doc_number': '6017651737', 'error_list': []}",
 "{'id': 90, 'barcode': '2860609826856', 'doc_type': None, 'doc_number': None, 'error_list': ['Пересканируйте, текст не найден', 'Слишком размыто']}",
 "{'id': 91, 'barcode': '2860566468953', 'doc_type': 'Товарная накладная', 'doc_number': '6016677899', 'error_list': []}",
 "{'id': 92, 'barcode': '2860548949708', 'doc_type': 'Товарная накладная', 'doc_number': '6600113245', 'error_list': []}",
 "{'id': 93, 'barcode': '2860610420036', 'doc_type': 'Товарная накладная', 'doc_number': '6017554174', 'error_list': []}",
 "{'id': 94, 'barcode': '2860599004975', 'doc_type': 'товарная накладная', 'doc_number': '6600003002', 'error_list': []}",
 "{'id': 95, 'barcode': '2810101258716', 'doc_type': 'Товарная накладная', 'doc_number': '6011020653', 'error_list': []}",
 "{'id': 96, 'barcode': '2860610629088', 'doc_type': 'Товаркая накладная', 'doc_number': '6017534882', 'error_list': []}",
 "{'id': 97, 'barcode': '2860597441536', 'doc_type': 'товарная накладная', 'doc_number': '6600243666', 'error_list': []}",
 "{'id': 98, 'barcode': '2860582098769', 'doc_type': 'Товарная гнакладная', 'doc_number': '6Q17073063', 'error_list': []}",
 "{'id': 99, 'barcode': '2810096516426', 'doc_type': 'Товарная накладная', 'doc_number': '6010594120', 'error_list': []}",
 "{'id': 100, 'barcode': '2860610411164', 'doc_type': None, 'doc_number': None, 'error_list': ['Слишком размыто']}",
 "{'id': 101, 'barcode': '2860619180474', 'doc_type': 'Товарная макладная', 'doc_number': '6017653452', 'error_list': []}",
 "{'id': 102, 'barcode': '2860350788793', 'doc_type': 'Товарная накладная', 'doc_number': '6010498565', 'error_list': []}",
 "{'id': 103, 'barcode': '2860356224295', 'doc_type': 'Товарная накладная', 'doc_number': '6010584004', 'error_list': []}",
 "{'id': 104, 'barcode': '2810078325367', 'doc_type': 'Товарная накладная', 'doc_number': '6008202144', 'error_list': []}",
 "{'id': 105, 'barcode': '2860613107354', 'doc_type': 'товарная накладная', 'doc_number': '6002545658', 'error_list': []}",
 "{'id': 106, 'barcode': '2860618655089', 'doc_type': 'Товарная накладная', 'doc_number': '5077649733', 'error_list': []}",
 "{'id': 107, 'barcode': '2860566457728', 'doc_type': 'Товарная накладная', 'doc_number': '6016677713', 'error_list': []}",
 "{'id': 108, 'barcode': '2860356024154', 'doc_type': 'Товарная накладная', 'doc_number': '6010580611', 'error_list': []}",
 "{'id': 109, 'barcode': '2860350653411', 'doc_type': 'Товарная накладная', 'doc_number': '6010495752', 'error_list': []}",
 "{'id': 110, 'barcode': '2810090850434', 'doc_type': 'Товарная накладная', 'doc_number': '6009670355', 'error_list': []}",
 "{'id': 111, 'barcode': '2860611233796', 'doc_type': 'говарнаяі накледная', 'doc_number': None, 'error_list': []}",
 "{'id': 112, 'barcode': '2860597420210', 'doc_type': 'Товарная гнакладная', 'doc_number': None, 'error_list': []}",
 "{'id': 113, 'barcode': '2860618473492', 'doc_type': 'товарная накладная', 'doc_number': '9AOkyKGKK2', 'error_list': []}",
 "{'id': 114, 'barcode': '2810078340681', 'doc_type': 'Товарная накладная', 'doc_number': '6008203771', 'error_list': []}",
 "{'id': 115, 'barcode': '2860582243602', 'doc_type': 'Товарная накладная', 'doc_number': '6017080746', 'error_list': []}",
 "{'id': 116, 'barcode': '2810078921507', 'doc_type': 'Товарная накладная', 'doc_number': '6008228464', 'error_list': []}",
 "{'id': 117, 'barcode': '2860614608874', 'doc_type': 'товарная накладная', 'doc_number': '6600576977', 'error_list': []}",
 "{'id': 118, 'barcode': '2860599552148', 'doc_type': 'товарная накладная', 'doc_number': '8017407243', 'error_list': []}",
 "{'id': 119, 'barcode': '2860615294724', 'doc_type': 'Товарная накладная', 'doc_number': '6600269283', 'error_list': []}",
 "{'id': 120, 'barcode': '2860609765162', 'doc_type': 'Товарная нактадная', 'doc_number': '6017591692', 'error_list': []}",
 "{'id': 121, 'barcode': '2860610941494', 'doc_type': 'Товарная накладная', 'doc_number': '8017538309', 'error_list': []}",
 "{'id': 122, 'barcode': '2860610679120', 'doc_type': 'Товарная накладная', 'doc_number': '6017533986', 'error_list': []}",
 "{'id': 123, 'barcode': '2860611250205', 'doc_type': None, 'doc_number': '0011033072', 'error_list': ['Слишком размыто']}",
 "{'id': 124, 'barcode': '2810097781793', 'doc_type': 'Товарная накладная', 'doc_number': '6010665386', 'error_list': []}",
 "{'id': 125, 'barcode': '2810094881618', 'doc_type': 'Товарная накладная', 'doc_number': '6010389831', 'error_list': []}",
 "{'id': 126, 'barcode': '2860609756344', 'doc_type': 'Товарная накладная', 'doc_number': '6017532090', 'error_list': []}",
 "{'id': 127, 'barcode': '2860609886874', 'doc_type': 'Товарная інакладная', 'doc_number': '8047533721', 'error_list': []}",
 "{'id': 128, 'barcode': '2810094808127', 'doc_type': 'Товарная накладная', 'doc_number': '6010496430', 'error_list': []}",
 "{'id': 129, 'barcode': '2860350803625', 'doc_type': 'Товарная накладная', 'doc_number': '6010498985', 'error_list': []}",
 "{'id': 130, 'barcode': '2860350693905', 'doc_type': 'Товарная накладная', 'doc_number': '6010497029', 'error_list': []}",
 "{'id': 131, 'barcode': '2860582194171', 'doc_type': 'товарная накладная', 'doc_number': '6017080146', 'error_list': []}",
 "{'id': 132, 'barcode': '2810101258679', 'doc_type': 'Товарная накладная', 'doc_number': '6011020608', 'error_list': []}",
 "{'id': 133, 'barcode': '2860592404024', 'doc_type': 'Товарная гнакладная', 'doc_number': '8047261974', 'error_list': []}",
 "{'id': 134, 'barcode': '2860598737003', 'doc_type': 'товарная накладная', 'doc_number': '6600001001', 'error_list': []}",
 "{'id': 135, 'barcode': '2860545577539', 'doc_type': 'Товарная накладная', 'doc_number': '6600102483', 'error_list': []}",
 "{'id': 136, 'barcode': '2860591580422', 'doc_type': 'Товарная накладная', 'doc_number': '6600230046', 'error_list': []}",
 "{'id': 137, 'barcode': '2860350445450', 'doc_type': 'Товарная накладная', 'doc_number': '6010348775', 'error_list': []}",
 "{'id': 138, 'barcode': '2860617907226', 'doc_type': 'товарная накладная', 'doc_number': '5017548400', 'error_list': []}",
 "{'id': 139, 'barcode': '2810095109414', 'doc_type': 'Товарная накладная', 'doc_number': '6010496444', 'error_list': []}",
 "{'id': 140, 'barcode': '2860614372225', 'doc_type': 'товарная накладная', 'doc_number': '6600268132', 'error_list': []}",
 "{'id': 141, 'barcode': '2860613502609', 'doc_type': 'Товарная накладная', 'doc_number': '5002546660', 'error_list': []}",
 "{'id': 142, 'barcode': '2860582444504', 'doc_type': 'Товарная накладная', 'doc_number': '8017080275', 'error_list': []}",
 "{'id': 143, 'barcode': '2860350617796', 'doc_type': 'Товарная накладная', 'doc_number': '6010453494', 'error_list': []}",
 "{'id': 144, 'barcode': '2810095129078', 'doc_type': 'Товарная накладная', 'doc_number': '6010507178', 'error_list': []}",
 "{'id': 145, 'barcode': '2860592721855', 'doc_type': 'товарная накладная', 'doc_number': '6047263573', 'error_list': []}",
 "{'id': 146, 'barcode': '2860615433956', 'doc_type': 'товарная накладная', 'doc_number': '6600270278', 'error_list': []}",
 "{'id': 147, 'barcode': '2860617869722', 'doc_type': 'товарная наюладная', 'doc_number': '6017847375', 'error_list': []}",
 "{'id': 148, 'barcode': '2860593339424', 'doc_type': 'Товарная накладная', 'doc_number': '6017268051', 'error_list': []}",
 "{'id': 149, 'barcode': '2860610860917', 'doc_type': 'Товарная накладная', 'doc_number': '8047537341', 'error_list': []}",
 "{'id': 150, 'barcode': '2860350310024', 'doc_type': 'Товарная накладная', 'doc_number': '6010251616', 'error_list': []}",
 "{'id': 151, 'barcode': '2810101258709', 'doc_type': 'Товарная накладная', 'doc_number': '6011010073', 'error_list': []}",
 "{'id': 152, 'barcode': '2810095096936', 'doc_type': 'Товарная накладная', 'doc_number': '6010512132', 'error_list': []}",
 "{'id': 153, 'barcode': '2860611888071', 'doc_type': 'товарная накладная', 'doc_number': '8002548937', 'error_list': []}",
 "{'id': 154, 'barcode': '2860618518735', 'doc_type': 'Товарная накладнея', 'doc_number': '8017649715', 'error_list': []}",
 "{'id': 155, 'barcode': '2860609817946', 'doc_type': 'Товарная накладная', 'doc_number': '6017533517', 'error_list': []}",
 "{'id': 156, 'barcode': '2860350445276', 'doc_type': 'Товарная накладная', 'doc_number': '6010348770', 'error_list': []}",
 "{'id': 157, 'barcode': '2810095102101', 'doc_type': 'Товарная накладная', 'doc_number': '6010422349', 'error_list': []}",
 "{'id': 158, 'barcode': '2860600635488', 'doc_type': 'Товарная накладная', 'doc_number': '6017410823', 'error_list': []}",
 "{'id': 159, 'barcode': '2810101258648', 'doc_type': 'Товарная накладная', 'doc_number': '6011020606', 'error_list': []}",
 "{'id': 160, 'barcode': '2860350518246', 'doc_type': 'Товарная накладная', 'doc_number': '6010411519', 'error_list': []}",
 "{'id': 161, 'barcode': '2810098835297', 'doc_type': 'Товарная накладная', 'doc_number': '6010741944', 'error_list': []}",

In [48]:
df = pd.DataFrame()

for num, _ in enumerate(results_list):
    q = eval(results_list[num].replace('\\', ''))
    if q['error_list'] == []:
        q['error_list'] = 0
    else:
        q['error_list'] = 1
    
    res_df = pd.DataFrame(q, index=[0])
    df = pd.concat([df, res_df])

In [49]:
df = df.reset_index(drop=True)

In [50]:
df['filename'] = filename_list

In [51]:
df = df[['id', 'filename', 'barcode', 'doc_type', 'doc_number', 'error_list']]

In [52]:
df.head()

   id filename        barcode             doc_type  doc_number  error_list
0   0  108.jpg  2860587076540   Товарная накладная  6017110800           0
1   1  134.jpg  2860592637279  товарная гнакладная  6017253079           0
2   2  145.jpg  2860601366206  Товарнаяі накладная  6047415447           0
3   3  020.jpg  2810094798084   Товарная накладная  6010358825           0
4   4  172.jpg  2860614983032   товарная накладная  6017580463           0

## Визуализация

for i, doc in enumerate(df['filename']):
    image = cv2.imread(DATA_PATH + doc)
    image = cv2.resize(image, (0, 0), fx=0.25, fy=0.25)
    filename = df['filename'][i]
    barcode_number = df['barcode'][i]
    doc_type = df['doc_type'][i]
    doc_number = df['doc_number'][i]
    
    
    image = cv2.putText(image, f'{filename}', (300, 50), cv2.FONT_HERSHEY_COMPLEX, 0.7, (255, 0, 0), 2)
    image = cv2.putText(image, f'{barcode_number}', (300, 75), cv2.FONT_HERSHEY_COMPLEX, 0.7, (255, 0, 0), 2)
    image = cv2.putText(image, f'{doc_type}', (300, 100), cv2.FONT_HERSHEY_COMPLEX, 0.7, (255, 0, 0), 2)
    image = cv2.putText(image, f'{doc_number}', (300, 125), cv2.FONT_HERSHEY_COMPLEX, 0.7, (255, 0, 0), 2)

    # Displaying the image
    cv2.imshow("Output", image)
    cv2.waitKey(0)
    cv2.destroyAllWindows()
    
    if i == 3:
        break

## Анализ данных

### Необходимые функции

In [53]:
def not_numeric_in_colunm(col):
    not_numeric = {}
    for i, value in enumerate(col):
        if col[i].isnumeric() == False:
            not_numeric[i] = value
    return not_numeric

In [54]:
def len_of_numbers(col):
    length_dict = {}
    for i, value in enumerate(col):
        if value.isnumeric():
            if len(value) not in length_dict.keys():
                length_dict[len(value)] = 1
            else:
                length_dict[len(value)] += 1
    return length_dict

### Error list = 1

Если в столбце **error_list** 0, значит изображение прошло проверку детектором блюра и предварительным распознавателем текста (определение ортогонального положения). 

Если в этом столбце 1, значит имеет место одна или две ошибки. следовательно изображение не будет распознано. Необходимо оценить качество работы детектора блюра и ортогонального оперделителя.

In [55]:
df['error_list'].value_counts()

0    193
1     10
Name: error_list, dtype: int64

Итого не будет распознано **9** изображений. Оценим их.

In [56]:
error_df = df[df['error_list'] == 1]
error_df

      id filename        barcode             doc_type  doc_number  error_list
22    22  195.jpg           None                 None        None           1
23    23  155.jpg  2860609887666  Товарнам кнакладная  8817053744           1
60    60  115.jpg  2860611107011                 None        None           1
83    83  168.jpg  2860611147581                 None  0517850744           1
90    90  112.jpg  2860609826856                 None        None           1
100  100  159.jpg  2860610411164                 None        None           1
123  123  166.jpg  2860611250205                 None  0011033072           1
166  166  170.jpg           None                 None        None           1
178  178  157.jpg  2860610590685                 None        None           1
185  185  174.jpg           None                 None        None           1

for i, doc in enumerate(error_df['filename']):
    image = cv2.imread(DATA_PATH + doc)
    image = cv2.resize(image, (0, 0), fx=0.25, fy=0.25)
    filename = df['filename'][i]
    barcode_number = df['barcode'][i]
    doc_type = df['doc_type'][i]
    doc_number = df['doc_number'][i]
    
    
    image = cv2.putText(image, f'{filename}', (300, 50), cv2.FONT_HERSHEY_COMPLEX, 0.7, (255, 0, 0), 2)
    image = cv2.putText(image, f'{barcode_number}', (300, 75), cv2.FONT_HERSHEY_COMPLEX, 0.7, (255, 0, 0), 2)
    image = cv2.putText(image, f'{doc_type}', (300, 100), cv2.FONT_HERSHEY_COMPLEX, 0.7, (255, 0, 0), 2)
    image = cv2.putText(image, f'{doc_number}', (300, 125), cv2.FONT_HERSHEY_COMPLEX, 0.7, (255, 0, 0), 2)

    # Displaying the image
    cv2.imshow("Output", image)
    cv2.waitKey(0)
    cv2.destroyAllWindows()

**Вывод**

Можно сказать, что деткетор блюра позволил отсеять размытые изображения, их загрузка в SAP нежелательная, поскольку большая часть информации в них потеряна.

### Error list = 0

In [57]:
good_df = df[df['error_list'] == 0]
good_df.head(10)

   id filename        barcode             doc_type   doc_number  error_list
0   0  108.jpg  2860587076540   Товарная накладная   6017110800           0
1   1  134.jpg  2860592637279  товарная гнакладная   6017253079           0
2   2  145.jpg  2860601366206  Товарнаяі накладная   6047415447           0
3   3  020.jpg  2810094798084   Товарная накладная   6010358825           0
4   4  172.jpg  2860614983032   товарная накладная   6017580463           0
5   5  030.jpg  2810095110823   Товарная накладная   6010496453           0
6   6  044.jpg  2860350653671   Товарная накладная   6010495761           0
7   7  072.jpg  2860356028688   Товарная накладная   6010580640           0
8   8  183.jpg  2860618787148   товарная накладная  60417651087           0
9   9  088.jpg  2810078644574   Товарная накладная   6008222134           0

for i, doc in enumerate(good_df['filename']):
    image = cv2.imread(DATA_PATH + doc)
    image = cv2.resize(image, (0, 0), fx=0.25, fy=0.25)
    filename = df['filename'][i]
    barcode_number = df['barcode'][i]
    doc_type = df['doc_type'][i]
    doc_number = df['doc_number'][i]
    
    
    image = cv2.putText(image, f'{filename}', (300, 50), cv2.FONT_HERSHEY_COMPLEX, 0.7, (255, 0, 0), 2)
    image = cv2.putText(image, f'{barcode_number}', (300, 75), cv2.FONT_HERSHEY_COMPLEX, 0.7, (255, 0, 0), 2)
    image = cv2.putText(image, f'{doc_type}', (300, 100), cv2.FONT_HERSHEY_COMPLEX, 0.7, (255, 0, 0), 2)
    image = cv2.putText(image, f'{doc_number}', (300, 125), cv2.FONT_HERSHEY_COMPLEX, 0.7, (255, 0, 0), 2)

    # Displaying the image
    cv2.imshow("Output", image)
    cv2.waitKey(0)
    cv2.destroyAllWindows()
    
    if i == 4:
        break

In [58]:
good_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 193 entries, 0 to 202
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          193 non-null    int64
 1   filename    193 non-null    object
 2   barcode     193 non-null    object
 3   doc_type    191 non-null    object
 4   doc_number  185 non-null    object
 5   error_list  193 non-null    int64
dtypes: int64(2), object(4)
memory usage: 10.6+ KB

In [59]:
good_df  = good_df.fillna('None')

In [60]:
good_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 193 entries, 0 to 202
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          193 non-null    int64
 1   filename    193 non-null    object
 2   barcode     193 non-null    object
 3   doc_type    193 non-null    object
 4   doc_number  193 non-null    object
 5   error_list  193 non-null    int64
dtypes: int64(2), object(4)
memory usage: 10.6+ KB

In [61]:
good_df = good_df.reset_index(drop=True)

**Вывод**

Далее будем работать с этим датасетом. Отфильтрованные изображением считаем истинно-положительными.

### Barcode

In [62]:
bad_barcode_df = good_df[good_df['barcode'] == 'None'].reset_index(drop=True)
bad_barcode_df

Empty DataFrame
Columns: [id, filename, barcode, doc_type, doc_number, error_list]
Index: []

for i, doc in enumerate(bad_barcode_df['doc_name']):
    image = cv2.imread(DATA_PATH + doc)
    image = cv2.resize(image, (0, 0), fx=0.25, fy=0.25)
    doc_name = bad_barcode_df['doc_name'][i]
    barcode_number = bad_barcode_df['barcode_number'][i]
    doc_type = bad_barcode_df['doc_type'][i]
    doc_number = bad_barcode_df['doc_number'][i]
    
    
    image = cv2.putText(image, f'{doc_name}', (300, 50), cv2.FONT_HERSHEY_COMPLEX, 0.7, (255, 0, 0), 2)
    image = cv2.putText(image, f'{barcode_number}', (300, 75), cv2.FONT_HERSHEY_COMPLEX, 0.7, (255, 0, 0), 2)
    image = cv2.putText(image, f'{doc_type}', (300, 100), cv2.FONT_HERSHEY_COMPLEX, 0.7, (255, 0, 0), 2)
    image = cv2.putText(image, f'{doc_number}', (300, 125), cv2.FONT_HERSHEY_COMPLEX, 0.7, (255, 0, 0), 2)

    # Displaying the image
    cv2.imshow("Output", image)
    cv2.waitKey(0)
    cv2.destroyAllWindows()

In [63]:
barcode_not_numeric = not_numeric_in_colunm(good_df['barcode'])
barcode_not_numeric

{}

In [64]:
length_of_barcode_numbers = len_of_numbers(good_df['barcode'])
length_of_barcode_numbers

{13: 193}

In [65]:
length_of_barcode_numbers[13] / len(good_df)

1.0

In [66]:
bad_barcode_list = list(bad_barcode_df['filename'])
bad_barcode_list

[]

#### Вывод 
В столбце со штрих-кодами 1 пропущенное значение **None**. Остальные значения соответствуют десятизначным штрих-кодам. Итого можно считать распознанными **99,5%** штрих-кодов.

### Doc type

In [67]:
good_df['doc_type'].unique()

array(['Товарная накладная', 'товарная гнакладная', 'Товарнаяі накладная',
       'товарная накладная', 'Товарная гнакладная', 'Товарная некладная',
       'None', 'Товерная наюладная', 'Товарная накледная',
       'Товерная накладная', 'товарнаят накладная', 'Товарная накпадная',
       'Товаркая накладная', 'Товарная макладная', 'говарнаяі накледная',
       'Товарная нактадная', 'Товарная інакладная', 'товарная наюладная',
       'Товарная накладнея', 'товерная накладнал', 'Тонарная накладная',
       'товарная накладнаяі'], dtype=object)

In [68]:
good_df['doc_type'].value_counts()

Товарная накладная     144
товарная накладная      25
Товарная гнакладная      4
None                     2
Товарная макладная       1
Тонарная накладная       1
товерная накладнал       1
Товарная накладнея       1
товарная наюладная       1
Товарная інакладная      1
Товарная нактадная       1
говарнаяі накледная      1
Товарная накпадная       1
Товаркая накладная       1
товарная гнакладная      1
товарнаят накладная      1
Товерная накладная       1
Товарная накледная       1
Товерная наюладная       1
Товарная некладная       1
Товарнаяі накладная      1
товарная накладнаяі      1
Name: doc_type, dtype: int64

In [69]:
1 - len(good_df[good_df['doc_type'] == 'None']) / len(df)

0.9901477832512315

In [70]:
bad_doc_type_df = good_df[good_df['doc_type'] == 'None']
bad_doc_type_df.head()

    id filename        barcode doc_type  doc_number  error_list
31  33  177.jpg  2860617614391     None  6017644991           0
49  51  146.jpg  2860601473409     None  8817416140           0

In [71]:
bad_doc_type_list = list(bad_doc_type_df['filename'])
bad_doc_type_list

['177.jpg', '146.jpg']

#### Вывод 
В столбце с типами документов 3 пропущенных значения **None**. Также в этом столбце есть почти распознанные данные, например **Товарная накладнея**, **товарная накладнаяi** и другие. В почти распознанных данных допущено по 1 ошибке, так что, можно считать их проходящими по порогу распознавания. Итого качественно распознано 190 типов документов из 193 примеров, или всего **98,5%**.

### Doc number

In [72]:
bad_doc_number = good_df[good_df['doc_number'] == 'None']
bad_doc_number.head(10)

      id filename        barcode             doc_type doc_number  error_list
24    26  148.jpg  2860602715096   Товарная накладная       None           0
43    45  083.jpg  2810096516426   Товарная накладная       None           0
48    50  076.jpg  2810096516365   Товарная накладная       None           0
59    62  079.jpg  2810097409826   Товарная накладная       None           0
67    70  065.jpg  2810097409826   Товарная накладная       None           0
105  111  165.jpg  2860611233796  говарнаяі накледная       None           0
106  112  113.jpg  2860597420210  Товарная гнакладная       None           0
157  164  081.jpg  2810096516365   Товарная накладная       None           0

In [73]:
bad_doc_number_df = good_df[good_df['doc_number'].str.isnumeric() == False]
bad_doc_number_df.tail(10)

      id filename        barcode             doc_type  doc_number  error_list
43    45  083.jpg  2810096516426   Товарная накладная        None           0
44    46  164.jpg  2860611204697   Товарная накладная  B047539166           0
48    50  076.jpg  2810096516365   Товарная накладная        None           0
59    62  079.jpg  2810097409826   Товарная накладная        None           0
67    70  065.jpg  2810097409826   Товарная накладная        None           0
93    98  125.jpg  2860582098769  Товарная гнакладная  6Q17073063           0
105  111  165.jpg  2860611233796  говарнаяі накледная        None           0
106  112  113.jpg  2860597420210  Товарная гнакладная        None           0
107  113  180.jpg  2860618473492   товарная накладная  9AOkyKGKK2           0
157  164  081.jpg  2810096516365   Товарная накладная        None           0

In [74]:
len(bad_doc_number_df)

11

In [75]:
bad_doc_number_df['doc_number'].value_counts()

None          8
B047539166    1
6Q17073063    1
9AOkyKGKK2    1
Name: doc_number, dtype: int64

In [76]:
doc_number_not_numeric = not_numeric_in_colunm(good_df['doc_number'])
doc_number_not_numeric

{24: 'None',
 43: 'None',
 44: 'B047539166',
 48: 'None',
 59: 'None',
 67: 'None',
 93: '6Q17073063',
 105: 'None',
 106: 'None',
 107: '9AOkyKGKK2',
 157: 'None'}

In [77]:
length_of_doc_numbers = len_of_numbers(good_df['doc_number'])
length_of_doc_numbers

{10: 180, 11: 2}

In [78]:
for i in good_df['doc_number']:
    if len(i) > 10:
        print(i)

60417651087
80175397303

In [79]:
length_of_doc_numbers[10]/len(good_df)

0.9326424870466321

In [80]:
bad_doc_number_list = list(bad_doc_number_df['filename'])
bad_doc_number_list

['148.jpg',
 '083.jpg',
 '164.jpg',
 '076.jpg',
 '079.jpg',
 '065.jpg',
 '125.jpg',
 '165.jpg',
 '113.jpg',
 '180.jpg',
 '081.jpg']

#### Вывод 
В столбце с номерами документов 124 пропущенных значения. В них фигурируют либо **None** либо нечисловые значения, например **Konmueerue**. Качественно распознано 79 номеров документов из 203 примеров, или всего 38,9%.

## Результат исследования

In [81]:
bad_lists_union = sorted(list(set().union(bad_barcode_list, bad_doc_type_list, bad_doc_number_list)))

In [82]:
len(bad_lists_union)

13

In [83]:
len(df) - len(bad_lists_union)

190

In [84]:
1 -len(bad_lists_union) / len(df)

0.9359605911330049

## Общий вывод

Можно считать качественно распознанными 189 документов из 203, что составляет **93%** из тестовых данных.