In [1]:
import pandas as pd
import shutil

In [2]:
df = pd.read_csv('/home/kirillk/datasets/cafe_face_recognition/face_recognition_prototype/fucking_dump_ya_ebal.csv')

In [3]:
df.head()

   employee_id source                                      file
0        15635   ROSA  e1b58dae-a8cc-11ec-a789-36350c8e42fe.jpg
1        22652   ROSA  e20fb482-a8cc-11ec-a789-36350c8e42fe.jpg
2        22653   ROSA  e250814c-a8cc-11ec-a789-36350c8e42fe.jpg
3        22561   ROSA  e2aaf9a6-a8cc-11ec-a789-36350c8e42fe.jpg
4        14425   ROSA  e2f410be-a8cc-11ec-a789-36350c8e42fe.jpg

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8221 entries, 0 to 8220
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   employee_id  8221 non-null   int64
 1   source       8221 non-null   object
 2   file         8221 non-null   object
dtypes: int64(1), object(2)
memory usage: 192.8+ KB

In [5]:
len(df)

8221

In [6]:
len(df['employee_id'].unique())

6505

### Анализ количества фото

In [7]:
emoployee_more_than_one_photo = df['employee_id'].value_counts() > 1

In [8]:
emoployee_more_than_one_photo

10800     True
22707     True
689       True
4177      True
12366     True
         ...
11719    False
11944    False
11934    False
11931    False
16177    False
Name: employee_id, Length: 6505, dtype: bool

In [9]:
employee_photo_number = df['employee_id'].value_counts()

In [10]:
employee_with_many_photos = employee_photo_number[employee_photo_number >= 10]

In [11]:
employee_with_many_photos

10800    40
22707    34
689      26
4177     25
12366    24
12154    23
16153    22
7988     21
8565     21
17303    20
11755    19
11673    15
22097    15
5310     14
17827    13
19785    13
19868    13
20390    13
22897    12
8447     12
10989    12
3073     12
22768    12
22605    11
21395    11
12166    11
16398    11
17974    11
6701     11
17547    11
11696    11
15695    11
22490    10
1330     10
22191    10
15369    10
8281     10
8193     10
21949    10
23014    10
Name: employee_id, dtype: int64

In [12]:
len(employee_with_many_photos.index)

40

In [13]:
len(employee_photo_number[employee_photo_number == 1])

5761

In [14]:
number_of_photos = df.pivot_table(index=['employee_id'], 
                                  columns='source',
                                  values='file',
                                  aggfunc='count').reset_index()

In [15]:
number_of_photos.head()

source  employee_id  BOT  CANTEEN  ROSA
0                30  NaN      NaN   1.0
1                37  NaN      NaN   1.0
2                52  NaN      NaN   2.0
3                65  NaN      NaN   1.0
4                77  NaN      NaN   1.0

In [16]:
number_of_photos[number_of_photos['ROSA'] > 1]

source  employee_id  BOT  CANTEEN  ROSA
2                52  NaN      NaN   2.0
15              193  NaN      NaN   2.0
31              254  NaN      NaN   2.0
81              619  NaN      NaN   2.0
122            1288  NaN      NaN   2.0
...             ...  ...      ...   ...
6361          23136  NaN      NaN   2.0
6374          23151  NaN      NaN   2.0
6411          23191  NaN      NaN   2.0
6437          23225  NaN      NaN   2.0
6455          23246  NaN      NaN   2.0

[478 rows x 4 columns]

In [17]:
number_of_photos[number_of_photos['ROSA'] == 0]

Empty DataFrame
Columns: [employee_id, BOT, CANTEEN, ROSA]
Index: []

In [18]:
#17303

for employye in employee_with_many_photos.index:
    if 'ROSA' not in df[df['employee_id'] == employye]['source'].value_counts().index:
        employee_with_many_photos = employee_with_many_photos.drop(index=employye)
        
len(employee_with_many_photos)

39

In [19]:
more_than_one_photo_ROSA = []

for employye in employee_with_many_photos.index:
#     print(df[df['employee_id'] == employye]['source'].value_counts())
    if df[df['employee_id'] == employye]['source'].value_counts()['ROSA'] > 1:
        more_than_one_photo_ROSA.append(employye)
        
more_than_one_photo_ROSA

[22490, 21949]

In [20]:
df[df['employee_id'] == 22490]

      employee_id   source                                      file
5053        22490     ROSA  2312cb2a-ad20-11ec-8ab9-cea5474ef9b7.jpg
7113        22490  CANTEEN  755d4b10-d68a-11ec-b40d-8a76ea2ba533.jpg
7227        22490  CANTEEN  50b6cc5a-d7e3-11ec-b40d-8a76ea2ba533.jpg
7293        22490     ROSA  281cfa4c-d7f4-11ec-81e1-32f6f7943c3d.jpg
7432        22490  CANTEEN  a15825a6-da4e-11ec-9a6b-8a76ea2ba533.jpg
7471        22490  CANTEEN  e998f5d8-da77-11ec-ac10-363df93e4ac1.jpg
7496        22490  CANTEEN  781531a6-db08-11ec-a843-8a76ea2ba533.jpg
7615        22490  CANTEEN  c0151736-dbd1-11ec-9b64-363df93e4ac1.jpg
8019        22490  CANTEEN  c8529958-dff7-11ec-9862-4eb8fc4b8ff7.jpg
8062        22490  CANTEEN  b332a028-e096-11ec-a07d-4eb8fc4b8ff7.jpg

In [21]:
df[df['employee_id'] == 21949]

      employee_id   source                                      file
129         21949     ROSA  96bfb026-a8cd-11ec-b96b-0a398d5b7c49.jpg
6938        21949  CANTEEN  5d1464b0-d506-11ec-9231-363df93e4ac1.jpg
6954        21949     ROSA  cb71262e-d532-11ec-81e1-32f6f7943c3d.jpg
7032        21949  CANTEEN  73bd8668-d5cb-11ec-9a6b-8a76ea2ba533.jpg
7129        21949  CANTEEN  b28d7340-d6a6-11ec-a843-8a76ea2ba533.jpg
7130        21949  CANTEEN  13df8eee-d6a7-11ec-9a6b-8a76ea2ba533.jpg
7317        21949  CANTEEN  2d7f07b4-d803-11ec-a843-8a76ea2ba533.jpg
7351        21949  CANTEEN  16a5c4fe-d823-11ec-9231-363df93e4ac1.jpg
7467        21949  CANTEEN  ad1ff38e-da74-11ec-a843-8a76ea2ba533.jpg
7689        21949  CANTEEN  de0476b4-dc09-11ec-a843-8a76ea2ba533.jpg

### Анализ источников

In [22]:
df['source'].value_counts()

ROSA       7014
CANTEEN    1107
BOT         100
Name: source, dtype: int64

In [23]:
df[df['employee_id'] == 10800]

      employee_id   source                                      file
2056        10800     ROSA  ff4129ca-a8cf-11ec-b96b-0a398d5b7c49.jpg
6712        10800  CANTEEN  cfd6b8ba-d10d-11ec-a788-7e34b2256923.jpg
6747        10800  CANTEEN  566ca112-d1b5-11ec-a645-7e34b2256923.jpg
6768        10800  CANTEEN  956e6fe8-d1cf-11ec-a645-7e34b2256923.jpg
6769        10800  CANTEEN  b11b9996-d1cf-11ec-a276-32e70010e065.jpg
6822        10800  CANTEEN  066d123e-d27b-11ec-9909-32e70010e065.jpg
6831        10800  CANTEEN  9f47fe84-d28e-11ec-b40d-8a76ea2ba533.jpg
6901        10800  CANTEEN  4457b10e-d4d2-11ec-ac10-363df93e4ac1.jpg
6928        10800  CANTEEN  ef01b350-d4ed-11ec-a843-8a76ea2ba533.jpg
6936        10800  CANTEEN  0d8f035a-d501-11ec-9a6b-8a76ea2ba533.jpg
6995        10800  CANTEEN  19a42a88-d59e-11ec-9a6b-8a76ea2ba533.jpg
7016        10800  CANTEEN  490fbb42-d5b8-11ec-ac10-363df93e4ac1.jpg
7018        10800  CANTEEN  87976298-d5b8-11ec-9b64-363df93e4ac1.jpg
7042        10800  CANTEEN  4d1e1330-d5d3-11ec-ac10-363df93e4ac1.jpg
7045        10800  CANTEEN  0643960e-d5da-11ec-b40d-8a76ea2ba533.jpg
7090        10800  CANTEEN  64ceba96-d666-11ec-ac10-363df93e4ac1.jpg
7091        10800  CANTEEN  7a83fac2-d666-11ec-9231-363df93e4ac1.jpg
7109        10800  CANTEEN  05464c4c-d684-11ec-b40d-8a76ea2ba533.jpg
7157        10800  CANTEEN  a9c4dc4c-d734-11ec-b40d-8a76ea2ba533.jpg
7158        10800  CANTEEN  e1bfb784-d734-11ec-ac10-363df93e4ac1.jpg
7174        10800  CANTEEN  cc38921c-d745-11ec-a843-8a76ea2ba533.jpg
7210        10800  CANTEEN  208a45a8-d760-11ec-9a6b-8a76ea2ba533.jpg
7308        10800  CANTEEN  78df78da-d7f7-11ec-9b64-363df93e4ac1.jpg
7323        10800  CANTEEN  9b68d05c-d808-11ec-ac10-363df93e4ac1.jpg
7343        10800  CANTEEN  c3a4c7be-d81d-11ec-b40d-8a76ea2ba533.jpg
7438        10800  CANTEEN  3365f056-da52-11ec-a843-8a76ea2ba533.jpg
7444        10800  CANTEEN  5cd2f21a-da5f-11ec-b40d-8a76ea2ba533.jpg
7464        10800  CANTEEN  8f94d2b6-da70-11ec-ac10-363df93e4ac1.jpg
7477        10800  CANTEEN  e6f9a39a-da81-11ec-a843-8a76ea2ba533.jpg
7545        10800  CANTEEN  e1560264-db1a-11ec-b40d-8a76ea2ba533.jpg
7576        10800  CANTEEN  45ee67e2-db3a-11ec-9a6b-8a76ea2ba533.jpg
7598        10800  CANTEEN  7cb42054-db4f-11ec-ac10-363df93e4ac1.jpg
7653        10800  CANTEEN  8610234c-dbe9-11ec-b40d-8a76ea2ba533.jpg
7662        10800  CANTEEN  981df1cc-dbf3-11ec-9231-363df93e4ac1.jpg
7685        10800  CANTEEN  c3ab68f6-dc07-11ec-9b64-363df93e4ac1.jpg
7744        10800  CANTEEN  7be8d060-dca9-11ec-9b64-363df93e4ac1.jpg
7774        10800  CANTEEN  238d7f4a-dcc4-11ec-9231-363df93e4ac1.jpg
7859        10800  CANTEEN  409c60b4-dd3d-11ec-a843-8a76ea2ba533.jpg
7994        10800  CANTEEN  f2780f7e-dfd4-11ec-ac10-363df93e4ac1.jpg
8014        10800  CANTEEN  f4802abc-dfee-11ec-b40d-8a76ea2ba533.jpg

In [24]:
PHOTO_PATH = '/home/kirillk/datasets/cafe_face_recognition/face_recognition_prototype/images/'
DATA_PATH = '/home/kirillk/PycharmProjects/face-recognition-prototype/data/photos/'
TEST_DATA_PATH = '/home/kirillk/PycharmProjects/face-recognition-prototype/data/test_photo_1/'

In [25]:
for index, row in df.iterrows():
    if row['employee_id'] in employee_with_many_photos.index and row['source'] == 'ROSA':
        shutil.copyfile(PHOTO_PATH + row['file'], DATA_PATH + row['file'])

In [27]:
for index, row in df.iterrows():
    if row['employee_id'] in employee_with_many_photos.index and row['source'] != 'ROSA':
        shutil.copyfile(PHOTO_PATH + row['file'], TEST_DATA_PATH + row['file'])

In [30]:
df[df['file'] == '8dcdcdb2-b8af-11ec-a5f0-32e70010e065.jpg']

      employee_id source                                      file
6071         4177    BOT  8dcdcdb2-b8af-11ec-a5f0-32e70010e065.jpg